version: 2

tools:
  sh-shfmt: &sh-shfmt
    format-command: 'shfmt -i 2 -bn -ci -sr'
    format-stdin: true

  sh-shellcheck: &sh-shellcheck
    lint-command: 'shellcheck -f gcc -x -'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'
      - '%f:%l:%c: %tote: %m'

languages:
  sh:
    - <<: *sh-shfmt
    - <<: *sh-shellcheck
  bash:
    - <<: *sh-shfmt
    - <<: *sh-shellcheck

