[commit]
    gpgsign = true
    
[tag]
    gpgsign = true

[gpg]
    program = gpg

[alias]
    logs = log --show-signature
    verify = log --show-signature -1
    st = status
    co = checkout
    br = branch
    cm = commit

[pull]
    rebase = true

[init]
    defaultBranch = main
    templateDir = ~/.git_template

# Include private config (user info, signing key, etc.)
[include]
    path = ~/.gitconfig.local
